header {
    width: 100%;
    height: 80px;
    float: left;
    background: #8e9eab; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaecec, #e2e7ec) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#wrapper {
    width: 100%;
    height: 100%;
    float: left;
}

nav {
    height: 42px;
    width: 100%;
    background-color: grey;
    float: left;
}

.topnav {
    background-color: #f1f1f1;
    margin-left: 200px;
    margin-right: 200pX;
}

    .topnav a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        border-left: solid;
        border-bottom: 3px solid transparent;
    }

        .topnav a:hover {
            border-bottom: 3px solid black;
        }

        .topnav a.active {
            border-bottom: 3px solid black;
        }



.login {
    float: right;
    margin-right: 12%;
    margin-top: 10px;

}

#logo {

    width: 220px;
    height: 100px;
    background-color: green;
    float: left; 
    margin-left: 200px;
}

#trustPilot {
float: right;
width: 200px;
height: 80px;
margin-right: 12%;
background-color: red;

}

h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
}

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background-color: black;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button:hover {
    background: #06D85F;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
}

    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
}

    .popup h2 {
        margin-top: 0;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
    }

    .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }

        .popup .close:hover {
            color: #06D85F;
        }

    .popup .content {
        max-height: 30%;
        overflow: auto;
    }

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}


/** Top css ends here  **/



/** Section css starts here **/


section {
    width: 100%;
    height: 75%;
    float: left;
    background: #403B4A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #E7E9BB, #403B4A); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



#sectionTitle {
    position: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

#popularServices {
   height: 280px;
   margin-left: 18%;
   margin-bottom: 5%;
}

.service {
    width: 25%;
    height: 250px;
    float: left;
    border: solid;
    border-color: white;
    background: orange;
    transition: all 0.5s ease;
}

.servicea {
    width: 25%;
    height: 250px;
    float: left;
    border: solid;
    border-color: white;
    background: orange;
    transition: all 0.5s ease;
    visibility: unset;
}

.service:hover {
    width: 31%;
    height: 280px;
    float: left;
    border: solid;
    border-color: green;
    background: orange;
    transition: all 0.5s ease;
}

.detail {
    height: 250px;
    width: 33.3%;
    background-color: grey;
    float: left;
}


#showAll {
    background-color: grey;
    text-align: center;
    position: center;
    margin-right: 45%;
    margin-left: 45%;
}



#allService {
    transition: all 0.5s ease;
    float: left;
    margin-left: auto;
    margin-right: auto;
    display: none;
    margin-left: 18%;
    width: 82%;
}

detailFunc {
    
}

#showDetail {
    margin-right: 45%;
    margin-left: 45%;
}

footer {
    width: 100%;
    height: 8%;
    float: left;
    background-color: black;
}

